In [156]:
import requests
import json
import urllib.request
import shutil
from zipfile import ZipFile 
import pickle
import pandas as pd

In [154]:
def get_download_link(location):
    attributes = "air_temperature,clearsky_dhi,clearsky_dni,clearsky_ghi,cloud_type,dew_point,dhi,dni,fill_flag,ghi,ozone,relative_humidity,solar_zenith_angle,surface_albedo,surface_pressure,total_precipitable_water,wind_direction,wind_speed"
    url = "http://developer.nrel.gov/api/nsrdb/v2/solar/himawari7-download.json?api_key=YAXJDbZnYK004tG1o3dghbjQByarw9nRMX1Kshm1"
    payload = "&wkt={}&attributes={}&names=2015&utc=true&leap_day=true&interval=30&email=utkarsh04agrawal@gmail.com".format(location,attributes) 

    response = requests.get(url+payload)
    
    url=json.loads(response.text)['outputs']['downloadUrl']

    return url

In [144]:
def extract_data(state_name):
    state_wkt = ??
    url = get_download_link(state_wkt)
    with urllib.request.urlopen(url) as response, open('radiance_data/{}.zip'.format(state_name), 'wb') as out_file:
        data = response.read() # a `bytes` object
        out_file.write(data)

    zip_file = ZipFile('radiance_data/{}.zip'.format(state_name))
    list_data = zip_file.namelist()
    print(list_data)
    for f in list_data:
        data = zip_file.open(f).read()
        with open('radiance_data/{}.csv'.format(state_name),'wb') as file:
            pickle.dump(data,file)

In [151]:
df = pd.read_csv('extracted_test.csv', encoding='ISO-8859-1')

/var/folders/tm/g65yh1_d5f3gkpxmzywryqwc0000gn/T/ipykernel_70789/101663748.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,25,26,27,28,29,30,31,32,33,34,35,36,37,39,40,41,42,43,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('extracted_test.csv', encoding='ISO-8859-1')

In [152]:
df.head()

,B4ñ,Location ID,City,State,Country,Latitude,Longitude,Time Zone,Elevation,Local Time Zone,...,Cloud Type 11,Cloud Type 12,Fill Flag 0,Fill Flag 1,Fill Flag 2,Fill Flag 3,Fill Flag 4,Fill Flag 5,Surface Albedo Units,Version
0,NSRDB,2170762,-,Northern,Fiji,-16.95,179.98,0,178,12,...,Dust,Smoke,NaN,Missing Image,Low Irradiance,Exceeds Clearsky,Missing CLoud Properties,Rayleigh Violation,NaN,3.1.1
1,Year,Month,Day,Hour,Minute,Temperature,Clearsky DHI,Clearsky DNI,Clearsky GHI,Cloud Type,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,0,0,27.700000000000003,130,945,1069,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,0,30,27.8,129,943,1062,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,1,0,27.8,126,940,1036,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN